/*div.vlists > div {
    width: 33%;
	float: left;
}*/

div.vlists > div > div > div {
	//width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}

div.vlists input {
	margin-left: 0;
}

div.vlists span.add-on {
	margin-right: -5px;
}


/* now-playing */

div.now-playing {
	margin-bottom: 20px;
	.well
}

span.track-artist, span.track-album {
	font-style: italic;
}