{{range .Pager}}
{{if .Active}}
%button.btn.btn-primary {{.Label}}
{{else}}
%a.btn(href="{{.Path}}") {{.Label}}
{{end}}
{{end}}

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th
      %th Artist
      %th Album
      %th Title
      %th Track
      %th Year
      %th Length
    %tbody
      {{range .Tracks}}
      %tr
        %td
          %div.sm2-inline-list.ui360
            %a(href="content{{.Path}}" title="Play")
        %td
          {{.Artist}}
        %td
          {{.Album}}
        %td
          %a(href="content{{.Path}}")
            {{.Title}}
        %td
          {{.Track}}
        %td
          {{.Year}}
        %td
          {{.LengthString}}
      {{end}}
