%link(href='/assets/widgets/360-player/360player.css' rel='stylesheet')

%div.pagination.pagination-centered(style="margin-bottom: 0.5em")
  %ul
    {{range .Pager}}
    {{if .Active}}
    %li.active
      %a(href="#") {{.Label}}
    {{else}}
    %li
      %a(href="{{.Path}}") {{.Label}}
    {{end}}
    {{end}}

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th
      %th Artist
      %th Album
      %th Title
      %th Track
      %th Year
      %th Length
  %tbody
    {{range .Tracks}}
    %tr
      %td
        %div.sm2-inline-list.ui360
          %a(href="content{{.Path}}" title="Play")
      %td
        {{.Artist}}
      %td
        {{.Album}}
      %td
        %a(href="content{{.Path}}")
          {{.Title}}
      %td
        {{.Track}}
      %td
        {{.Year}}
      %td
        {{.LengthString}}
    {{end}}

/ Placed at the end of the document so the pages load faster
%script(src="assets/js/SoundManager2/soundmanager2-nodebug-jsmin.js")
%script(src="assets/js/soundmanager-settings.js")

-#%script(src="assets/soundmanager/script/mp3-player-button.js")
%script(src="assets/widgets/360-player/script/berniecode-animator.js")
%script(src="assets/widgets/360-player/script/360player.js")
