%div.btn-group(style="margin-bottom: 0.5em")
  {{range .Pager}}
  {{if .Active}}
  %a.btn.btn-primary(href="#") {{.Label}}
  {{else}}
  %a.btn(href="{{.Path}}") {{.Label}}
  {{end}}
  {{end}}

%div.artist-table
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th Artist
    %tbody
      {{range .Artists}}
      %tr
        %td
          %a(href="{{.URL}}")
            {{.Name}}
      {{end}}
